:root{
    --primaryColor: #F3E600;
    --gap: 3rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.9rem;
    color: var(--primaryColor);
}

/*
Paletas de cores
#000000
#C5003C
#880425
#F3E600
#55EAD4
*/

body{
    font-family:"Open Sans", sans-serif;;
}

h1, h2, h3, h4 ,h5 ,h6{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 8rem;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 7rem;
}

h3{
    font-size: 6rem;
}

h4{
    font-size: 5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3rem;
}

.mainBg{
    background-image: url('../img/confetti-doodles\ \(1\).svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    /*background: linear-gradient(to bottom, #55EAD4, white);*/
}

.secondBg{
    background-image: url('../img/second-bg.svg');
    background-size: cover;
    background-attachment: fixed;
}

.thirdBg{
    background-image: url('../img/thid-bg.svg');
    background-size: cover;
    background-attachment: fixed;
}

.whiteBg{
    background-color: white;
    color: #C5003C;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section:not(section#intro){
    min-height: 100vh;
    padding-top: 6rem;
}

.mainBar{
    width: 100%;
    height: 6rem;
    position: fixed;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.055);
}

.mainBar .main-content{
    width: 120rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap);

    .logo{
        font-weight: bold;
        
        a{
            text-decoration: none;
            color: #C5003C;
            
            h1{
                font-size: 5rem;
            }
        }
    }

    .menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        li a{
            display: block;
            text-decoration: none;
            color: #C5003C;
            padding: 2rem;
            font-size: 1.8rem;
            font-weight: bold;

        }

        li a:hover{
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
        }
    }
}

.intro-content-grid{
    margin: auto auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        'titulo imagem'
        'texto imagem';
    height: 37.2rem;
    gap: 2rem;

    div:nth-child(1){
        grid-area: titulo;
    }
    
    div:nth-child(2){
        grid-area: texto;

        p::first-letter{
            font-size: 5rem;
            display: block;
            float: left;
            margin: 0 15px 5px 0;
            font-weight: bold;
            text-shadow: 0.2rem 0.2rem #55EAD4;
            font-style: italic;
        }
    }
    
    div:nth-child(3){
        grid-area: imagem;
        display: flex;
        align-items: center;
    }
}

.mainBg.section .main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section#top3{
    text-align: center;
    
    div.main-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div{
            padding: 2rem;

            h5{
                font-style: italic;
                margin-bottom: 0.5rem;
            }
        }
    }
}