:root{
    --primaryColor: #F3E600;
    --gap: 3rem;
    --secondaryColor: #55EAD4;
    --thirdColor: #FF1616;
    --fourthColor: #C5003C;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.9rem;
    color: var(--primaryColor);
}

/*
Paletas de cores
#000000
#C5003C
#880425
#F3E600
#55EAD4
#FF1616
*/

body{
    font-family:"Open Sans", sans-serif;;
}

h1, h2, h3, h4 ,h5 ,h6{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 8rem;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 7rem;
}

h3{
    font-size: 6rem;
}

h4{
    font-size: 5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3rem;
}

.mainBg{
    background-image: url('../img/confetti-doodles\ \(1\).svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.whiteBg{
    background-color: white;
    color: var(--fourthColor);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
    padding-top: var(--gap);
}

.mainBar{
    width: 100%;
    height: 6rem;
    position: fixed;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.055);
    z-index: 2;
}

.mainBar .main-content{
    width: 120rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-weight: bold;
        
        a{
            text-decoration: none;
            font-size: 7rem;
            text-transform: uppercase;
            font-style: italic;

            img{
                width: 100%;
                height: 6rem;
            }
        }
    }

    .menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        li a{
            display: block;
            text-decoration: none;
            color: var(--thirdColor);
            padding: 2rem;
            font-size: 1.8rem;
            font-weight: bold;
        }

        li a:hover{
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
        }
    }
}

#intro .main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    

    .intro-text{
        font-style: italic;
        word-spacing: 0.5rem;

        img{
            width: 650px;
            height: 75%;
        }

        p::first-letter{
                display: block;
                font-size: 5rem;
                margin: 0 2rem 1rem 0;
                float: left;
                font-weight: bold;
                font-style: italic;
                text-shadow: 0.3rem 0 var(--secondaryColor);
            }
    }

    .intro-img{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        img{
            mask-image: radial-gradient(circle, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 60%);
        }
    }
}

section#top3{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#top3 div.main-content{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        'titulo titulo titulo'
        'top1 top2 top3';
    gap: var(--gap);
    counter-reset: topcount;
}

.beforeTop{
    h5::before{
        counter-increment: topcount;
        content: counter(topcount);
        font-size: 8rem;
        margin-right: 3rem;
        display: block;
        rotate: 20deg;
        float: left;
    }
}

section#top3 #titulo {
    grid-area: titulo;
}

section#top3 #top_1 {
    grid-area: top1;
}

section#top3 #top_2 {
    grid-area: top2;
}

section#top3 #top_3 {
    grid-area: top3;

}

section#gallery .gallery-photos{
    margin-top: var(--gap);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    

    div.photos{
        width: 300px;
        height: 300px;
        margin: 2rem;
        overflow: hidden;

        img{
            width: 300px;
            height: 300px;
            transition: all 500ms ease-in-out;
            z-index: 0;
        }

        img:hover{
            /*width: 320px;
            height: 320px;*/
            transform: translate(-2%,2%) scale(1.1) rotate(-3deg);
            z-index: 1;
        }
    }
}

section#requires div.main-content{
    .table{
        height: 700px;
        display: flex;
        align-items: center;
    }

    table{
        border-collapse: collapse;
        color: black;
        width: 100%;
        clip-path: polygon(
        20px 0,
        calc(100% - 15px) 0, 
        100% 15px,
        100% 100%,
        0 100%,
        0 20px 
        );
        
        th, tr, td{
            border: 3px solid black;
            width: 100px;
            height: 55px;
        }

        thead th{
            background-color: black;
            color: var(--secondaryColor);
        }

        tbody{
            text-align: center;
            background-color: var(--secondaryColor);
            
            th{
                background-color: var(--primaryColor);
            }

            td{
                font-size: 1.5rem;
                font-weight: bolder;
            }
        }
    }
}